<h1 class='display-1 mb-1'>Beer request</h1>
<hr class='bg-primary mb-4' />

{{#each requests}}

  <div class='card mb-3'>

    <div class='row card-body'>
      <p>Name(s): <b>{{name}}</b></p>
      <p>Type: <b>{{type}}</b></p>
      <a class='text-center text-danger' href='/delete/{{_id}}'>X</a>
    </div>
  </div>

{{/each}}